# ---- Python ---- #
# cached files
__pycache__/

# ---- TypeScript ---- #
# compiled files
**/src/*.js

# tests cached files
coverage/

# ---- Golang ---- #

# ---- Rust ---- #
# compiled files
**/rust/src/**
!**/rust/src/*.rs

# compiled and cached files
target/

# ---- Csharp ---- #
# compiled files and dev files
bin/
obj/
TestResults/

# ---- Java ---- #
# compiled files
*.class

# Maven compiled files
target/

# ---- PHP ---- #

# ---- Cpp ---- #
# compiled files
*.out

# CMake compiled files
build/
